[Desktop Entry]
Version=1.0
Name=Window Manager
Name[am]=ማስኮት አስተዳዳሪ
Name[ar]=مدير النوافذ
Name[ast]=Xestor de ventanes
Name[be]=Кіраўнік акон
Name[bg]=Мениджър на прозорците
Name[bn]=উইন্ডো ব্যবস্থাপক
Name[ca]=Gestor de finestres
Name[cs]=Správce oken
Name[da]=Vindueshåndtering
Name[de]=Fensterverwaltung
Name[el]=Διαχειριστής παραθύρων
Name[en_AU]=Window Manager
Name[en_CA]=Window Manager
Name[en_GB]=Window Manager
Name[eo]=Administradilo de Fenestroj
Name[es]=Gestor de ventanas
Name[et]=Aknahaldur
Name[eu]=Leiho kudeatzailea
Name[fi]=Ikkunointiohjelma
Name[fr]=Gestionnaire de fenêtres
Name[gl]=Xestor de xanelas
Name[he]=מנהל חלונות
Name[hr]=Upravitelj prozora
Name[hu]=Ablakkezelő
Name[id]=Manajer Jendela
Name[is]=Gluggastjóri
Name[it]=Gestore delle finestre
Name[ja]=ウィンドウマネージャー
Name[kk]=Терезелер басқарушысы
Name[ko]=창 관리자
Name[lt]=Langų tvarkytuvė
Name[lv]=Logu pārvaldnieks
Name[ms]=Pengurus Tetingkap
Name[nb]=Vindusbehandler
Name[nl]=Vensterbeheerder
Name[nn]=Vindaugshandsamar
Name[oc]=Gestionari de fenèstras
Name[pa]=ਵਿੰਡੋ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer okien
Name[pt]=Gestor de janelas
Name[pt_BR]=Gerenciador de janelas
Name[ro]=Manager de ferestre
Name[ru]=Диспетчер окон
Name[si]=කවුළු කළමනාකරු
Name[sk]=Správca okien
Name[sl]=Upravljalnik oken
Name[sq]=Përgjegjës Dritaresh
Name[sr]=Управник прозора
Name[sv]=Fönsterhanterare
Name[te]=విండో నిర్వాహకం
Name[th]=โปรแกรมจัดการหน้าต่าง
Name[tr]=Pencere Yöneticisi
Name[ug]=كۆزنەك باشقۇرغۇ
Name[uk]=Менеджер вікон
Name[ur]=ونڈو منیجر
Name[ur_PK]=ونڈو منیجر
Name[vi]=Trình quản lí cửa sổ
Name[zh_CN]=窗口管理器
Name[zh_HK]=視窗管理員
Name[zh_TW]=視窗管理程式
Comment=Configure window behavior and shortcuts
Comment[ar]=إعداد سلوك و إختصارات النافذة
Comment[ast]=Configura'l comportamientu de ventanes y atayos
Comment[be]=Наладзіць паводзіны акна і значкоў
Comment[bg]=Настройка на поведението на прозорците и клавишните комбинации
Comment[bn]=উইন্ডোর আচরণ ও শর্টকাট কনফিগার
Comment[ca]=Configureu el comportament de les finestres i de les dreceres
Comment[cs]=Nastavení chování okna a klávesových zkratek
Comment[da]=Indstil vindueopførsel og genveje
Comment[de]=Das Fensterverhalten und die Tastenkombinationen konfigurieren
Comment[el]=Ρύθμιση συμπεριφοράς παραθύρων και συντομεύσεων
Comment[en_AU]=Configure window behaviour and shortcuts
Comment[en_CA]=Configure window behavior and shortcuts
Comment[en_GB]=Configure window behaviour and shortcuts
Comment[es]=Configure el comportamiento de ventanas y atajos
Comment[eu]=Leiho portaera eta lastre-teklak konfiguratu
Comment[fi]=Muokkaa ikkunoiden käytöstä ja pikanäppäimiä
Comment[fr]=Configurer le comportement et les raccourcis des fenêtres
Comment[gl]=Configurar o comportamento e os atallos das xanelas
Comment[he]=הגדר התנהגות, נגיעות וקיצורי דרך חלון
Comment[hr]=Konfiguriraj ponašanje prozora i prečace
Comment[hu]=Ablakviselkedés és gyorsbillentyűk beállítása
Comment[id]=Atur perilaku jendela dan jalan pintas
Comment[is]=Stilla hegðun glugga og flýtilykla
Comment[it]=Configurazione del comportamento della finestra e delle scorciatoie
Comment[ja]=ウィンドウの振る舞いとショートカットキーを設定します
Comment[kk]=Терезе әрекеттерін мен жарлықтарды баптау
Comment[ko]=창 동작 및 바로 가기를 설정합니다
Comment[lt]=Konfigūruoti langų elgseną ir sparčiuosius klavišus
Comment[lv]=Konfigurēt loga uzvedību un īsceļus
Comment[ms]=Selaraskan kelakuan dan pintasan tetingkap
Comment[nb]=Sett opp vindusoppførsel og hurtigtaster
Comment[nl]=Configureer venstergedrag en sneltoetsen
Comment[nn]=Set opp åtferda og utsjånaden for vindaugo
Comment[oc]=Configurar lo comportament e los acorchis de las fenèstras
Comment[pl]=Konfiguruje ustawienia okien i skróty klawiszowe
Comment[pt]=Configurar comportamento e atalhos das janelas
Comment[pt_BR]=Configure o comportamento e atalhos das janelas
Comment[ro]=Schimbați comportamentul ferestrelor și combinațiile de taste
Comment[ru]=Настройка поведения окна и комбинаций клавиш
Comment[si]=කවුළු හැසිරීම් හා කෙටිමං වින්‍යාස කරන්න 
Comment[sk]=Konfigurácia správania okna a klávesových skratiek
Comment[sl]=Nastavite obnašanje oken in bližnjic
Comment[sq]=Formësoni sjellje dhe shkurtore dritareje
Comment[sr]=Подесите понашање прозора и пречице
Comment[sv]=Konfigurera fönsterbeteende och genvägar
Comment[th]=ตั้งค่าพฤติกรรมและปุ่มลัดของหน้าต่าง
Comment[tr]=Pencere davranışı ve kısayollarını yapılandır
Comment[ug]=كۆزنەك ھەرىكىتى ۋە تېزلەتمىنى سەپلەش
Comment[uk]=Налаштувати заголовок вікна і запускачів
Comment[ur]=ونڈو کا سلوک اور شارٹ کٹ وضع کریں
Comment[ur_PK]=ونڈو کا سلوک اور شارٹ کٹ وضع کریں
Comment[zh_CN]=配置窗口行为和快捷键
Comment[zh_HK]=調整視窗行為與捷徑
Comment[zh_TW]=調整視窗行為與捷徑
Exec=xfwm4-settings
Icon=xfwm4
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfwm4
X-XfceHelpPage=preferences
